# ide files
/.idea/
/*.iml
/.vs/
/*.vcxproj.user

# project files
/build/
/.gradle/
/gen/

# execution outputs
/*.obj
/*.exe
/module.lib
/dmp/

# subproject ide files
/*/.idea/
/*/.vs/
/*/*.vcxproj.user

# subproject build files
/*/Release/
/*/Debug/
/*/x64/
/*/build/
/.semanticgraphs/
/.graphbuddy/
